<!-- general -->
<link rel="stylesheet" href="/skeleton.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ .Site.Params.author }}">


{{ if .IsHome }}
<!-- ############################ -->


<!-- google -->
<title>{{ .Site.Title }}</title>
<meta name="title" content="{{ .Site.Title }}">
<meta name="description" content="{{.Site.Params.description}}">

<!-- open graph / facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{.Site.BaseURL}}">
<meta property="og:title" content="{{.Site.Title}}">
<meta property="og:description" content="{{.Site.Params.description}}">
<meta property="og:image" content="">

<!-- twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{.Site.BaseURL}}">
<meta property="twitter:title" content="{{.Site.Title}}">
<meta property="twitter:description" content="{{.Site.Params.description}}">
<meta property="twitter:image" content="">

{{ else }}
<!-- ############################ -->

<!-- google -->
<title>{{ .Title }} | {{ .Site.Title }}</title>
<meta name="title" content="{{ .Title }} | {{ .Site.Title }}">
<meta name="description" content="{{.Summary}}">

<!-- open graph / facebook -->
<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink | absURL }}">
<meta property="og:title" content="{{.Title}} | {{.Site.Title}}">
<meta property="og:description" content="{{.Summary}}">
<meta property="og:image" content="">

<!-- twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink | absURL }}">
<meta property="twitter:title" content="{{.Title}} | {{.Site.Title}}">
<meta property="twitter:description" content="{{.Summary}}">
<meta property="twitter:image" content="">

{{ end }}